.footer {
  padding-bottom: 35px;
}

.footer__container {
  display: flex;
  flex-flow: row nowrap;
  padding: 40px 53px 40px 52px;
  border: 1px solid #333333;
  border-radius: 12px;
  width: 100%;

  background-color: #333333;
  background-image: url('../img/sun.png');
  background-repeat: no-repeat;
  background-position: 80% bottom;
}

.left-column {
  width: 30%;
  margin-right: 9.6%;
}

.copirait {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
}

.copirait:not(:last-child) {
  margin-bottom: 32px;
}

.column-address {
  margin-right: 18%;
  width: 40%;

  font-style: normal;
}

.place {
  margin-bottom: 28px;
  margin-top: 0;

  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
}

.address-link {
  display: block;
  margin-bottom: 0;

  line-height: 24px;
}
.address-link:nth-child(3) {
  margin-bottom: 25px;
}

.social-network {
  padding-top: 8px;
}

.social-network-item {
  margin-bottom: 20px;
}

.social-link {
  display: block;
  align-self: flex-end;
  padding: 12.5px;

  background-position: center;
  background-repeat: no-repeat;
}

.tripadvisor {
  background-image: url('../img/tripadvisor.svg');
}

.twitter {
  background-image: url('../img/twitter.svg');
}

.facebook {
  background-image: url('../img/facebook.svg');
}

.vk {
  background-image: url('../img/vk.svg');
}

.google-plus {
  background-image: url('../img/google-plus.svg');
}
